/* Bar CSS*/
h1{
  font-family: 'Fugaz One', cursive;
  font-style: italic;
  text-align: center;
  font-size: 43px;
}

.bar{
  background-color: black;
  overflow: hidden;
}

.bar a{
  float: left;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
  width: 10.5%
}
