/* all the pages header*/
h1{
  font-family: 'Fugaz One', cursive;
  font-style: italic;
  text-align: center;
  font-size: 43px;
}

.bar{
  background-color: black;
  overflow: hidden;
}

.bar a{
  float: left;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 20px;
  width: 10.5%
}

/* Skin care*/

h1{
text-align: center;
display:block;
padding: 15px 32px;
}

 /* Survey */
.SurveyButton {
  display: block; margin: 0 auto;
  background-color:#D358F7 ; /*purple/pinkish*/
  border: none;
  color: white;
  padding: 15px 20px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lobster', cursive;
  text-align: center;
  cursor: pointer;
  }

.questionbutton {
  background-color: #d6d6c2; /*Grey*/
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100%;
}


.surveycenter{
margin: auto;
width: 50%;
padding: 10px;
}

#myDIV{
  display: none;
}

.center{
  text-align:center;
}

.skintypesurvey{
  display: inline-block;
}


/* Makeup*/

/* MakeupDupes*/


/*Test it out*/
/* Upload Image API CSS */
#holder img{
  width: 40%;
  height: 40%;
  display: inline-block;
/* width: 900px;
height: 400px; */
}

#BodyFonts{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
  font-size: 18px;
}

h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  text-align: center;

}

.SortByButton{
  float:left;
  font-family: 'Great Vibes', cursive;
  background-color:#ff9999 ; /*purple/pinkish*/
  border: none;
  color: white;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  display:inline;
  margin:100px 30px 50px 140px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#BodyFontsNews{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
  font-size: 18px;
}

img.picEdit{
  position: relative;
  float: center;
  width: 400px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.arrangeText{
  text-align: left;

}

.aboutUspic{
  height: 350px;
  width: 30%;
  padding: 10px;
}



.SortByButtonSkin{
float:left;
font-family: 'Great Vibes', cursive;
background-color:#ff9999 ; /*purple/pinkish*/
border: none;
color: white;
padding: 20px 35px;
text-decoration: none;
font-size: 25px;
text-align: center;
display:inline;
margin:55px 30px 40px 65px;
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Tutorials*/

/* Awarness*/

/* About Us*/
