h3{
  text-align: center;
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
.polaroid {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 55px;
  margin-right: 50px;
  display: inline-block;
}
.polaroid img{
  width: 20px;
  height: 100px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

/*
#CPLC {
float: right;
display: inline-block;
}


#mcsLipstick{

  float: left;
  display: inline-block;
}

#rimmelLondonLiner{

}

#WildMegaGlow{

}

#ColourpMars{

} */
