h3{
  text-align: center;
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
.polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 90px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: inline-block;
}
.polaroid img{
  width: 80px;
  height: 250px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}
