h3{
  text-align: center;
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

/* this is for 3 side by side images */
.polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 90px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: inline-block;
}
.polaroid img{
  width: 80px;
  height: 250px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}


/* this is for 2 side by side images */
.polaroid2 {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 130px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: inline-block;
}
.polaroid img{
  width: 80px;
  height: 250px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

/*survey reults*/
.polaroid3 {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 60px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: inline-block;
}
.polaroid img{
  width: 80px;
  height: 250px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}

#imageFormate{
  width: 80px;
  height:250px;
}
